:root {

    /* Backgrounds */
    --bg-color: rgb(246, 248, 251);
    --card-bg: white;
    --inside-sections: #ededf4;
    --task-hover: rgb(249, 248, 248);
    --history-backgorund:  rgba(0, 0, 0, 0.825);

    /* Text */
    --primary-text: #1f2937;
    --secondary-text: #6b7280;

    /* Borders */
    --border-color: #e5e7eb;

    /* Shadows */
    --card-shadow:
        0 2px 4px rgba(0, 0, 0, 0.06),
        0 6px 12px rgba(0, 0, 0, 0.08);

    /*  hovers shadow */
    --button-shadow:
        0 4px 8px rgba(0, 0, 0, 0.08),
        0 10px 20px rgba(0, 0, 0, 0.12);
}

body.dark-mode {

    /* Backgrounds */
    --bg-color: #0f172a;
    --card-bg: #1e293b;
    --inside-sections: #18202e;
    --task-hover: #132035e1;
    --history-backgorund:  rgba(255, 254, 254, 0.441);
    /* Text */
    --primary-text: #f0f1f3;
    --secondary-text: #94a3b8;

    /* Borders */
    --border-color: #1d2126;

    /* Shadows */
    --card-shadow:
        0 4px 12px rgba(0, 0, 0, 0.35);

    /*  hovers shadow */
    --button-shadow:
        0 4px 8px rgba(136, 133, 133, 0.426),
        0 10px 20px rgb(62, 61, 61);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
background-color: var(--bg-color);
color: var(--primary-text);
}

.fullbody{
    width: 100%;
    max-width: 1400px;
    margin:  0 auto;
    padding: 20px ;
    /* background-color: red; */
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;  
    margin-bottom: 30PX;
}

.greet_heading p{
    color: var(--secondary-text);
}

#live_clock{
    position: relative;
    left: 15px;
}

#sun{
    display:none;
}

.sun_moon_icon{
    font-size: 22px;
}


#light_dark_toggle {
    width: 48px;
    height: 48px;

    display: flex;
    justify-content: center;
    align-items: center;

    background: #ffffff;
    border: none;
    border-radius: 50%;

    cursor: pointer; 

    /* Soft shadow */
    box-shadow: var(--card-shadow); 

    transition: all 0.2s ease;
}

.light_dark_toggle:hover {
    transform: translateY(-2px);
    box-shadow: var(--button-shadow)
}

.calender_weather_quote{
  display: flex;
  width: 100%;
  /* padding: 20px; */
  gap: 20px;
  
}
.common_for_calender_weather_quote{
    border: var(--border-color);
    border-radius: 30px;
    padding: 20px;
    width: 453.33px;
    background-color: var(--card-bg);
    color: var(--primary-text);
    height: 30vh;
    box-shadow: var(--card-shadow);

    transition: all 0.2s ease;
}


.weather{
    padding: 20px;
}
#temperature{
    margin: 20px 0 5px 0 ;
}
.weather_type_and_weather_icon{
    display: flex;
    justify-content: space-between;
    color: var(--secondary-text);
}
#city{
    position: relative;
    bottom: 15px;
    color: var(--secondary-text);
}
.humidity_and_wind{
    display: flex;
    gap: 25px;
    color: var(--secondary-text);
}

#quote_text{
    margin: 10px 0;
    height: 10vh;
    overflow-y: auto;
}
.quote_heading_and_refresh_box{
    display: flex;
    justify-content: space-between;
}

#next_quote{
    padding: 4px;
    background-color: white;
    box-shadow: var(--card-shadow); 
    border: solid 2px rgb(255, 255, 255);
    border-radius: 10px;
    
}
#next_quote:hover {
    transform: translateY(-2px);
    box-shadow: var(--button-shadow)
}

#live_date{
    color: var(--secondary-text);
    padding: 14px 0 ;
} 



/* task section styling begins */
.tasks_section{
    width: 100%;
    /* min-height: 70vh; */
    max-height: fit-content;
    background-color: var(--card-bg);
    color: var(--primary-text);
    padding: 30px;
    align-items: center;
    margin:0 auto ;
    margin-top: 30px;
    /* border and shadows */
    border: var(--border-color);
    border-radius: 30px;
    box-shadow: var(--card-shadow);
    transition: all 0.2s ease;
}
.task_section_heading{
    color: var(--secondary-text);
    display: flex;
    justify-content: space-between;
}
.toggle_buttons_section{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding: 5px;
    border: 2px solid var(--inside-sections);
    border-radius: 35px;
    background-color: var(--inside-sections);
}
.common_for_task_section_buttons{
    all: unset;
    /* border: 2px solid var(--card-bg); */
    border-radius: 20px;
    padding: 10px 0;
    width: 100%;
    max-width: 30vw;
    text-align: center;
    /* background-color: var(--card-bg); */
    cursor: pointer;
    display: flex;
    justify-content: center;
    gap: 10px;   
}

.daily_and_milestone_heading{
    position: relative;
    bottom: 4px;
}
.common_for_task_section_buttons:hover{
    background-color: var(--card-bg);
    cursor: pointer;
    transform: translateY(-2px);
}
.common_for_task_section_buttons:focus{
    background-color: var(--card-bg); 
    border: 2px solid var(--card-bg); 
}
#subtitle{
    margin: 20px 0; 
    color: var(--secondary-text);
}
.add_tasks_full_section{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
.common_in_add_section{
    background-color: var(--inside-sections);
    border: 2px solid var(--inside-sections);
    border-radius: 20px;
    padding: 10px 10px;
    color: var(--primary-text);
}
#task_category{
    max-width: 100%;
    width: 10vw;
    text-align: center;
}
#add_button{
    max-width: 100%;
    width: 10vw;
}
.input_area{
    max-width: 100%;
    width: 63vw;
}
.input_area:focus{
    outline: none; 
    border-color: #6355d8; 
    box-shadow: 0 0 0 4px rgba(99, 85, 216, 0.15);
}
.active_tasks{
    margin: 20px 0 10px 0;
    /* min-height: 18vh; */
    max-height: fit-content;
    padding: 10px;
}
.task_box{    /* css class created in js */
    /* border: 2px solid blue; */
    border-radius: 20px;
    padding: 10px;
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    font-size: larger;
}
.left_section_of_taskbox{
    display: flex;
    gap: 10px;
}
.task_box:hover{
    background-color: var(--task-hover);
}
.common_for_title_and_action_buttons{
    display: flex;
    justify-content: space-between;
}
.common_for_edit-and-delete{
    border: none;
    margin: 0 5px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s ease;
}
.task_box:hover .common_for_edit-and-delete{
    opacity: 1;
    visibility: visible;
}
.completed_heading{
    text-align: center;
}
.completed-task{
    text-decoration: line-through;
    color: var(--secondary-text);
    opacity: 0.7;

}
.task_history_button_box{
    display: flex;
    /* align-items: center; */
    justify-content: center;
}
#task_history_button{
    border: none;
    margin: 40px 0 20px 0;
    width: 200px;
    height: 40px;
    background-color: rgba(0, 76, 255, 0.722);
    border: 2px solid rgba(0, 76, 255, 0.722);
    border-radius: 20px;
    color: white;
    font-size: 15px;
}

.history_overlay{
    position: fixed;
    inset: 0;

    display: none;

    justify-content: center;
    align-items: center;

    background: var(--history-backgorund);
    backdrop-filter: blur(3px);
    
    z-index: 1000;
}
.history_popup{
    margin-left: 100px;
    padding: 10px;
    width: 1000px;
    max-width: 90vw;
    height: 730px;
    max-height: 80vh;
    /* background-color: #1f1f1f;
    border-radius: 15px; */
    /* border: 2px solid red; */
    overflow-y: auto;
}
.history_date_heading{
    color: white;
    margin-top: 25px;
    margin-bottom: 12px;
    border-bottom: 1px solid rgba(255,255,255,.15);
    padding-bottom: 6px;
}
.history_task_card{
    color: white;
    padding: 12px 18px;
    margin : 10px;
    box-sizing: border-box;
    border: 1px solid rgba(255,255,255,.08);
    border-radius: 10px;
    background: rgba(255,255,255,.03);
    transition: .2s;
}
.history_task_card:hover{
    background: rgba(255,255,255,.06);
}
.empty_history{
    color:white;
    text-align:center;
    margin-top:120px;
}
.empty_history h2{
    margin-bottom:15px;
}
.empty_history p{
    opacity:.7;
}
.history_popup_header{
    color: var(--inside-sections);
    display: flex;
    justify-content: space-between;
}
#close_button{
    border: none;
    width: 100px;
    height: 40px;
    background-color: rgba(226, 3, 3, 0.79);
    border: 2px solid rgba(226, 3, 3, 0.79);
    border-radius: 20px;
    color: white;
}
.close_button:hover{
    background-color: rgb(97, 0, 0);
}







.quicknotes_pomodoro{
    gap: 20px;
    display: flex;
    margin: 30px 0;
}

.quick_notes{
    width: 708px;
}
.quick_notes_header{
    display: flex;
    justify-content: space-between;
}
.quick_notes_heading{
    color: var(--secondary-text);
}
#quick_notes{
    all: unset;
    margin: 10px 0;
    border: 2px solid var(--inside-sections);
    background-color: var(--inside-sections);
    border-radius: 30px;
    height: 36vh;
    width: 648px;
    padding: 12px;
}


.common_for_quick_and_pomodoro{
    border: 2px solid white;
    background-color: var(--card-bg);
    color: var(--primary-text);
    height: 50vh;
    padding: 20px;
    border: var(--border-color);
    border-radius: 30px;
    box-shadow: var(--card-shadow);
    transition: all 0.2s ease;
}

.pomodoro{
    min-width:  600px;
}
.pomodoro_header{
    display: flex;
    width: 100%;
    justify-content: space-between;
    color: var(--secondary-text);
}
.focus_break_toggle{
    border: 2px solid var(--inside-sections);
    background-color: var(--inside-sections);
    border-radius: 30px;
    margin-top: 10px;
    padding: 10px;
    display: flex;
    justify-content: center;
}
.common_for_FocusBreak{
    all: unset;
    min-width: 184px;
    border: 2px solid var(--inside-sections);
    background-color: var(--inside-sections);
    border-radius: 20px;
    padding: 10px;
    margin: 0 4.5px;
    text-align: center;
}
.common_for_FocusBreak:hover{
    background-color: var(--card-bg);
    cursor: pointer;
    transform: translateY(-2px);
}
.active_mode{
    background-color: var(--card-bg);
    color: var(--primary-text);
}  /* this class will be added with JS and will say which tab is active */
.timer{
    display: flex;
    justify-content: center;
    margin: 20px 0;
}
#timer{
    border: 5px solid var(--inside-sections);
    border-radius: 50%;
    padding: 40px 30px;
}   
.start_and_refresh{
    display: flex;
    gap:20px;
    /* justify-content: center; */
}
.common_for_start_and_pause{
    all: unset;
    text-align: center;
    width: 220px;
    border: 2px solid rgba(0, 76, 255, 0.722);
    border-radius: 30px;
    background-color: rgba(0, 76, 255, 0.722);
    color: white;
    padding: 15px ;
}
.common_for_start_and_pause:hover{
    cursor: pointer;
    transform: translateY(-2px);
}
#reset_timer{
    all:unset;
    /* border: 2px solid red; */
    width: 50px;
    text-align: center;
    font-size: 50 ;
}
#reset_timer:hover{
    cursor: pointer;
    transform: translateY(-2px);
}

/* .progress_and_consistency {
    
} */


.progress_and_heatmap{
    display: flex;
    gap: 20px;
}
.common_for_progress_and_heatmap{
    border: 2px solid white;
    background-color: var(--card-bg);
    color: var(--primary-text);
    height: 50vh;
    width: 700px;
    padding: 20px;
    border: var(--border-color);
    border-radius: 30px;
    box-shadow: var(--card-shadow);
    transition: all 0.2s ease;
    margin: 30px 0;
}
.progress_heading{
    color: var(--secondary-text);
}
.progress_circle_and_progress_report{
    margin: 20px 0;
    display: flex;
    /* border: 2px solid red; */
}

/* to create the progress ring we will use conic-gradient which fills an area circular way from the centre . and inside we will use background color . so that background color will erase inner area of conic-gradient getting us a ring */

.progress_circle{
    width:180px;
    height:180px;

    border-radius:50%;
    margin: 60px 0;
    display:flex;
    justify-content:center;
    align-items:center;

    background:
        conic-gradient(
            /* #4CAF50 0deg, */
            #4CAF50 80deg,
            var(--inside-sections) 80deg,   /* this line is so that the remaining part remaing in the incomplete ring color*/
            /* for full degree becomes 0->360*/
        );
}
.progress_circle_content{

    width:140px;
    height:140px;

    border-radius:50%;

    background:var(--card-bg);

    display:flex;
    flex-direction:column;

    justify-content:center;
    align-items:center;
}

#progress_percentage{
    text-align: center;
}
.progress_report{
    /* border: 2px solid blue; */
    margin: 20px 10px;
    width: 450px;
    padding: 10px;
}
#progress_report_subtitle{
    color: var(--secondary-text);
}
.done_remaining_total{
    margin: 10px 10px;
    display: flex;
    gap: 35px;
}
.done_remaining_total  h2{
    text-align: center;
}
.common_for_done_remaining_total_subtitle{
    color: var(--secondary-text);

}
.daily_weekly_milestones_progress{
    margin: 20px 0;
}
.common_for_daily_weekly_milestone_progress{
    display: flex;
    gap: 20px;
    margin: 20px 0;
}
.progress_bar{
    width: 100%;
    height: 8px;
    background-color: var(--inside-sections);
    border-radius: 20px;
    overflow: hidden;
    margin-top: 7px;
}

.progress_fill{
    width: 0%;
    height: 100%;
    background-color: #4CAF50;   /* Change later to your theme color */
    border-radius: 20px;
    transition: width 0.3s ease;
}

.daily_fill{
    background-color: #4CAF50;
}

.weekly_fill{
    background-color: #2196F3;
}

.milestone_fill{
    background-color: #9C27B0;
}


/* heatmap styles begin */
.heatmap_header_container{
    display: flex;
    justify-content: space-between;
}
.heatmap_header_container h3{
    color: var(--primary-text);
}
.heatmap_header h3{
    color: var(--primary-text);
}
.heatmap_header h4{
    color: var(--secondary-text);
}

.main_heatmap{
    margin: 10px 0;
    background-color: var(--inside-sections);
    border: 2px solid var(--inside-sections);
    border-radius: 15px;
    height: 200px;
    width: 600px;
    padding: 10px;
    overflow-y: auto; 
}
.month-block h4{
    margin: 10px 0;
}
.month-grid{
    display:grid;
    grid-template-columns:repeat(16,1fr);
    gap:4px;
}
.heatmap-cell{
    width:30px;
    height:30px;
    border:1px solid gray;
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:12px;
}
.heatmap-tooltip{
    position: absolute;
    left: 700px;
    display: none;
    padding: 10px;
    border-radius: 8px;
    background-color: var(--card-bg);
    border: 1px solid var(--border-color);
    color: var(--primary-text);
    font-size: 14px;
    pointer-events: none;
    z-index: 1000;
}
#heatmap_info_button{
    border: none;
    margin-left: 250px;
    border: 2px solid rgba(0, 76, 255, 0.722);
    border-radius: 20px;
    text-align: center;
    font-size:16px;
    width: 120px;
    height: 40px;
    background-color: rgba(0, 76, 255, 0.722);
    color: white;
}
.heatmap_info{
    position: absolute;
    left: 1050px;
    top: 1500px;
    display: none;
    padding: 10px;
    border-radius: 8px;
    background-color: var(--inside-sections);
    border: 1px solid black;
    color: var(--primary-text);
    font-size: 14px;
    pointer-events: none;
    z-index: 1000;
}


.about_heatmap{
    display: flex;
    gap: 20px;
    margin: 30px 0;
}
.about_heatmap p{
    color: var(--secondary-text);
}
.common_for_each_level_cell{
    width: 15px;
    height: 15px;
}
.cell_block{
    display: flex;
    gap: 5px;
    /* margin: 5px 0; */
}
.level0{
    background-color: grey;
}
.level1{
    background-color: rgb(1, 100, 1);
}
.level2{
    background-color: rgb(2, 150, 2);
}
.level3{
    background-color: rgb(2, 200, 2);
}
.level4{
    background-color: rgb(2, 250, 2);
}