:root {

    /* Backgrounds */
    --bg-color: rgb(246, 248, 251);
    --card-bg: white;
    --inside-sections: #ededf4;
    --task-hover: rgb(249, 248, 248);

    /* Text */
    --primary-text: #1f2937;
    --secondary-text: #6b7280;

    /* Borders */
    --border-color: #e5e7eb;

    /* Shadows */
    --card-shadow:
        0 2px 4px rgba(0, 0, 0, 0.06),
        0 6px 12px rgba(0, 0, 0, 0.08);

    /*  hovers shadow */
    --button-shadow:
        0 4px 8px rgba(0, 0, 0, 0.08),
        0 10px 20px rgba(0, 0, 0, 0.12);
}

body.dark-mode {

    /* Backgrounds */
    --bg-color: #0f172a;
    --card-bg: #1e293b;
    --inside-sections: #18202e;
    --task-hover: #132035e1;

    /* Text */
    --primary-text: #f0f1f3;
    --secondary-text: #94a3b8;

    /* Borders */
    --border-color: #1d2126;

    /* Shadows */
    --card-shadow:
        0 4px 12px rgba(0, 0, 0, 0.35);

    /*  hovers shadow */
    --button-shadow:
        0 4px 8px rgba(136, 133, 133, 0.426),
        0 10px 20px rgb(62, 61, 61);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
background-color: var(--bg-color);
color: var(--primary-text);
}

.fullbody{
    width: 100%;
    max-width: 1400px;
    margin:  0 auto;
    padding: 20px ;
    /* background-color: red; */
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;  
    margin-bottom: 30PX;
}

.greet_heading p{
    color: var(--secondary-text);
}

#live_clock{
    position: relative;
    left: 15px;
}

#sun{
    display:none;
}

.sun_moon_icon{
    font-size: 22px;
}


#light_dark_toggle {
    width: 48px;
    height: 48px;

    display: flex;
    justify-content: center;
    align-items: center;

    background: #ffffff;
    border: none;
    border-radius: 50%;

    cursor: pointer; 

    /* Soft shadow */
    box-shadow: var(--card-shadow); 

    transition: all 0.2s ease;
}

.light_dark_toggle:hover {
    transform: translateY(-2px);
    box-shadow: var(--button-shadow)
}

.calender_weather_quote{
  display: flex;
  width: 100%;
  /* padding: 20px; */
  gap: 20px;
  
}
.common_for_calender_weather_quote{
    border: var(--border-color);
    border-radius: 30px;
    padding: 20px;
    width: 453.33px;
    background-color: var(--card-bg);
    color: var(--primary-text);
    height: 30vh;
    box-shadow: var(--card-shadow);

    transition: all 0.2s ease;
}


.weather{
    padding: 20px;
}
#temperature{
    margin: 20px 0 5px 0 ;
}
.weather_type_and_weather_icon{
    display: flex;
    justify-content: space-between;
    color: var(--secondary-text);
}
#city{
    position: relative;
    bottom: 15px;
    color: var(--secondary-text);
}
.humidity_and_wind{
    display: flex;
    gap: 25px;
    color: var(--secondary-text);
}

#quote_text{
    margin: 10px 0;
    height: 10vh;
    overflow-y: auto;
}
.quote_heading_and_refresh_box{
    display: flex;
    justify-content: space-between;
}

#next_quote{
    padding: 4px;
    background-color: white;
    box-shadow: var(--card-shadow); 
    border: solid 2px rgb(255, 255, 255);
    border-radius: 10px;
    
}
#next_quote:hover {
    transform: translateY(-2px);
    box-shadow: var(--button-shadow)
}

#live_date{
    color: var(--secondary-text);
    padding: 14px 0 ;
} 



/* task section styling begins */
.tasks_section{
    width: 100%;
    /* min-height: 70vh; */
    max-height: fit-content;
    background-color: var(--card-bg);
    color: var(--primary-text);
    padding: 30px;
    align-items: center;
    margin:0 auto ;
    margin-top: 30px;
    /* border and shadows */
    border: var(--border-color);
    border-radius: 30px;
    box-shadow: var(--card-shadow);
    transition: all 0.2s ease;
}
.task_section_heading{
    color: var(--secondary-text);
    display: flex;
    justify-content: space-between;
}
.toggle_buttons_section{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding: 5px;
    border: 2px solid var(--inside-sections);
    border-radius: 35px;
    background-color: var(--inside-sections);
}
.common_for_task_section_buttons{
    all: unset;
    /* border: 2px solid var(--card-bg); */
    border-radius: 20px;
    padding: 10px 0;
    width: 100%;
    max-width: 30vw;
    text-align: center;
    /* background-color: var(--card-bg); */
    cursor: pointer;
    display: flex;
    justify-content: center;
    gap: 10px;   
}

.daily_and_milestone_heading{
    position: relative;
    bottom: 4px;
}
.common_for_task_section_buttons:focus{
    background-color: var(--card-bg); 
    border: 2px solid var(--card-bg); 
}
#subtitle{
    margin: 20px 0; 
    color: var(--secondary-text);
}
.add_tasks_full_section{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
.common_in_add_section{
    background-color: var(--inside-sections);
    border: 2px solid var(--inside-sections);
    border-radius: 20px;
    padding: 10px 10px;
    color: var(--primary-text);
}
#task_category{
    max-width: 100%;
    width: 10vw;
    text-align: center;
}
#add_button{
    max-width: 100%;
    width: 10vw;
}
.input_area{
    max-width: 100%;
    width: 63vw;
}
.input_area:focus{
    outline: none; 
    border-color: #6355d8; 
    box-shadow: 0 0 0 4px rgba(99, 85, 216, 0.15);
}
.active_tasks{
    margin: 20px 0 10px 0;
    /* min-height: 18vh; */
    max-height: fit-content;
    padding: 10px;
}
.task_box{    /* css class created in js */
    /* border: 2px solid blue; */
    border-radius: 20px;
    padding: 10px;
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    font-size: larger;
}
.left_section_of_taskbox{
    display: flex;
    gap: 10px;
}
.task_box:hover{
    background-color: var(--task-hover);
}
.common_for_title_and_action_buttons{
    display: flex;
    justify-content: space-between;
}
.common_for_edit-and-delete{
    border: none;
    margin: 0 5px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s ease;
}
.task_box:hover .common_for_edit-and-delete{
    opacity: 1;
    visibility: visible;
}


.completed_heading{
    text-align: center;
}
.completed-task{
    text-decoration: line-through;
    color: var(--secondary-text);
    opacity: 0.7;

}







.quicknotes_pomodoro{
    gap: 20px;
    display: flex;
    margin: 30px 0;
}

.commor_for_quick_and_pomodoro{
    border: 2px solid white;
    background-color: var(--card-bg);
    color: var(--primary-text);
    height: 40vh;
    padding: 20px;
    border: var(--border-color);
    border-radius: 30px;
    box-shadow: var(--card-shadow);

    transition: all 0.2s ease;
}


/* .progress_and_consistency {
    
} */


.common_for_progress_and_consistency{
    border: 2px solid white;
    background-color: var(--card-bg);
    color: var(--primary-text);
    height: 20vh;
    padding: 20px;
    border: var(--border-color);
    border-radius: 30px;
    box-shadow: var(--card-shadow);
    transition: all 0.2s ease;
    margin: 30px 0;
}